body {
  background-color: #DDE9F8;
  max-width: max-content;
  margin: auto;
  font-family:serif;

}
p{
  max-width:640;
}

hr{
  border-style: none;
  background-image: linear-gradient(to right, rgba(130,147,227,0), rgba(130,147,227,1), rgba(130,147,227,1), rgba(130,147,227,1), rgba(130,147,227,0));
  width: 75%;
  height: 4px;
}

h1{
  color: #06283D;
  font-variant-caps:small-caps;
  font-family:sans-serif;
}

h3{
  color: #243A73;
  font-variant-caps:small-caps;
  font-family:sans-serif;
}
