header {
  background-color: #DDE9F8;
  max-width: 90%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-width: 250px;
}

footer {
  background-color: #DDE9F8;
  max-width: 90%;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 250px;
  text-align: center;
}

section {
  max-width: 90%;
  background-color: #E1EACD;
  margin: 0 auto;
  min-width: 250px;
  text-align: center;
}

ol, ul, form, table {
  list-style-position: inside;
  text-align: center;
  margin: 0 auto;
}

body {
  background-color: #D3D6DB;
  font-family: sans-serif;
}

div{
  margin:auto;
}
p {
  width: 80%;
}

hr {
  border-style: none;
  background-image: linear-gradient(to right, rgba(130, 147, 227, 0), rgba(130, 147, 227, 1), rgba(130, 147, 227, 1), rgba(130, 147, 227, 1), rgba(130, 147, 227, 0));
  width: 75%;
  height: 4px;
  margin: 0 auto;
}

h1 {
  color: #06283D;
  font-variant-caps: small-caps;
}

h3 {
  color: #243A73;
  font-variant-caps: small-caps;
  margin: 0 auto auto;
  text-align: center;
}
/*Small link navigation animation
*/

.poke{
  border-radius: 10px;
  width: max-content;
  height: max-content;
}

.poke:hover{
  animation-name: grow;
  animation-duration: 0.3s;
}


@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



/*Navigation animation
*/

.tickle{
  width: max-content;
  height: max-content;
}

.tickle:hover{
  animation-name: wobble;
  animation-duration: 0.3s;
}

tickle:active{
  animation-name: wobble;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes wobble {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(15deg);
    transform: scale(1.1);
  }

  50% {
    transform: rotate(-15deg);
    transform: scale(.9);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}
